html {
  scroll-behavior: smooth;
}
nav {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  font-weight: bold;
}

hr.bold {
  border: 1px solid white;
}

.abi-pe-1 {
  padding-right: 5rem;
}
.abi-cover {
  width: 100%;
}
.head-font-cover {
  font-size: 200%;
  font-weight: bold;
}
.body-font-cover {
  font-size: 17px;
}
.logo-font {
  padding-top: 20rem;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 20px;
  line-height: 80px;
  color: black;
}
#learning {
  background-color: black;
}
.display-6 {
  color: white;
}
.img-learning {
  width: 100%;
}
.img-work {
  width: 100%;
}
.img-background {
  position: absolute;
  width: 50%;
  z-index: -1;
}
.abi-gallery {
  max-width: 960px;
}
.abi-gallery-item {
  width: 100%;
}
.abi-gallery-item figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin-bottom: 5;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}
.abi-gallery-item figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
.abi-gallery-item figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.abi-gallery-item figure figcaption::before,
.abi-gallery-item figure figcaption::after {
  pointer-events: none;
}
.abi-gallery-item figure figcaption,
.abi-gallery-item figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.abi-gallery-item figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.abi-gallery-item figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}
.abi-gallery-item figure h2 span {
  font-weight: 800;
}

.abi-gallery-item figure h2,
.abi-gallery-item figure p {
  margin: 0;
}

.abi-gallery-item figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

.art-background {
  width: 40%;
  position: absolute;
  top: 80rem;
}
/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
  background: #aa4033;
}

figure.effect-bubba img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
  opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

figure.effect-bubba h2 {
  font-size: 1.5rem;
  padding-top: 20%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

figure.effect-bubba p {
  width: 100%;
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* AKHIR BUBBA EFFECT */
